a{
    text-decoration: none;
    color: whitesmoke;
}

.posterImg{
    height: 85vh;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
}

.posterimg_overlay{
    display: flex;
    position: absolute;
    top: 40px;
    padding-inline: 0.6rem;
    flex-direction: column;
    gap: 3rem;
}

.title{
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    color: #fbb536;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
    filter: drop-shadow(2px 2px 20px #fbb539);
}

.runtime{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
    margin-right: 2rem;
}

.rating{
    display: inline-block;
    margin-left: 2rem;
}

.desc{
    max-width: 600px;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    font-style: italic;
}


.popular{
    height: 100vh;
}


.carousel .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width: 766px) {

    .title{
        font-size: 4rem;
    }
    
    
    .runtime{
        font-size: 2rem;
    }

    
    .desc{
        font-size: 1rem;
    }

    .posterimg_overlay{
       
        left: 1.5rem;
        
    }
    
    
 }