.header{
    /* height: 60px; */
    width: 100%;
    padding: 1rem 1.2rem;
}

.headerLeft{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.headerLeft .logo a{
    font-size: 1.8rem;
    font-weight: bold;
}

.headerLeft .logo a:hover{
    color: #fbb536;
}

.headerLeft a{
    font-weight: 500;
    color: whitesmoke;
    height: 2rem;
    text-decoration: none;
    font-size:1.4rem;
}

.headerLeft .menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.headerLeft .menu{
    display: none;
}

.headerLeft .menu.active{
    display: flex;
}

.headerLeft .go{
    color: #fbb536;
}

.headerLeft .menu a:hover{
    color: #fbb536;
}

.login{
    padding: 0.4rem;
    border-radius: 0.6rem;
    border: 1px solid #fbb536;
    transition: 0.1s ease-in-out;
}

.auth :is(.login, .register):hover{
    border-radius: 0.8rem;
    background-color: #fbb536;
    color: white !important;
}

.register{
    border: 1px solid #fbb536;
    margin-left: 0.4rem;
    padding: 0.4rem;
    border-radius: 0.6rem;
    transition: 0.1s ease-in-out;
}

.mblmenu{
    height: 35px;
}

.mblmenu img{
    height: 100%;
}

@media (min-width: 766px) {

    .headerLeft .menu{
        display: flex;
        align-items: center;
    }

    .mblmenu{
        display: none;
    }

    .headerLeft>.menu>a{
        font-weight: 500;
        color: whitesmoke;
        height: 2rem;
        text-decoration: none;
        /* margin-left: 1rem; */
        font-size:1.4rem;
    }
 }
