.header{
    /* height: 60px; */
    width: 100%;
    padding: 1rem 1.2rem;
}

.headerLeft{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLeft .logo a{
    font-size: 1.8rem;
    font-weight: bold;
}

.headerLeft a{
    font-weight: 500;
    color: whitesmoke;
    height: 2rem;
    text-decoration: none;
    padding-right: 0.6rem;
    font-size:1.1rem;
}

.headerLeft .menu{
    display: none;
}

.headerLeft .go{
    color: #fbb536;
}

.headerLeft a:hover{
    color: #fbb536;
}

.mblmenu{
    height: 40px;
}

.mblmenu img{
    height: 100%;
}

@media (min-width: 766px) {

    .headerLeft .menu{
        display: block;
    }

    .mblmenu{
        display: none;
    }

    .headerLeft a{
        font-weight: 500;
        color: whitesmoke;
        height: 2rem;
        text-decoration: none;
        padding-right: 2rem;
        font-size:1.6rem;
    }
 }
